<script type="text/javascript">
<!--
function updateLocation(lat, lng) {
     $('span.geoLat').html(lat);
     $('span.geoLng').html(lng);
}
-->
</script>

<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Businesses</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <li>
        Lat: <span class="geoLat"><%= GeoLocation.latitude.to_s %></span><br/>
        Lng: <span class="geoLng"><%= GeoLocation.longitude.to_s %></span>
      </li>
      <li>
      <a href="<%= url_for :action => :find, :category => 199 %>">Nearest Restaurants</a>
      </li>
    </ul>
  </div>

</div>
